extra-manifests
microservices-demo
kubernetes-controllers/Vagrantfile
kubernetes-controllers/kind-config.yaml
kubernetes-monitoring/kube-prometheus
kubernetes-logging/kube-prometheus
kubernetes-vault/consul-helm
kubernetes-vault/vault-helm
kubernetes-vault/vault-guides
kubernetes-storage/csi-driver-host-path

gibo 2.2.3 by Simon Whitaker <sw@netcetera.org>
https://github.com/simonwhitaker/gibo
### https://raw.github.com/github/gitignore/218a941be92679ce67d0484547e3e142b2f5f6f0/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
